html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,*::before,*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans',  sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

li {
    list-style-type: none;
   }

a {
  text-decoration: none;
}

.header-top {
  background-color: #293449;
}

.index-header {
  background-color: #f3f7f9;
  margin-bottom: 59px;
}

.bookmarks,
.basket,
.place-an-order {
  display: block;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  width: 150px;
}

.bookmarks {
  padding-left: 45px;
  padding-top: 12px;
  padding-right: 10px;
}

.basket {
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 50px;
}

.place-an-order {
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 20px;
  background-color: #63a63e;
}


.header-top,
.header-middle,
.navigation,
.products {
  display: flex;
}

.products {
  justify-content: space-between;
}

.top-menu-form {
  margin-left: 220px;
}

.top-menu-form input[type="text"] {
  border: 0;
  height: 42px;
  padding-left: 49px;
  padding-right: 10px;
  outline: none;
  width: 270px;
  background-color: #293449;
}

.top-menu-form input[type="text"]::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-family: 'Cuprum', 'PT Sans',  sans-serif;
  color: #ffffff;
}

.index-logo {
  position: absolute;
  top: -4px;
}

.header-middle {
  background-color: #f3f7f8;
  padding-top: 49px;
  padding-left: 53px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.store-description {
  font-family: 'Cuprum', 'PT Sans',  sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  width: 197px;
  margin-right: 70px;
}

.adress {
  margin: 0;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 70px;
  padding-right: 48px;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding-left: 10px;
}

.contact-info {
  margin-right: 70px;
}

.enter,
.register {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.enter {
  display: block;
  width: 121px;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 46px;
  padding-right: 10px;
  height: 42px;
  margin-right: 6px;
}

.register {
  display: block;
  height: 42px;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-right: 25px;
  padding-left: 25px;
}

.registration {
    display: flex;
}

.navigation {
  background-color: #32425c;
  margin: 0;
  padding: 0 53px;
  padding-top: 17px;
  padding-bottom: 14px;
  border-bottom: 4px solid #293449;
}

.navigation {
  justify-content: space-between;
}

.navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.main-navigation {
  padding-bottom: 60px;
}

.main-services {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 52px;
}

.main-services a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.slider-1 {
  width: 620px;
  height: 266px;
  margin-right: 20px;
  margin-bottom: 1px;
}

.slider-2 {
  display: none;
  margin-right: 1px;
}

.main-services li:first-child,
.main-services li:nth-child(2) {
  margin-right: 20px;
  margin-bottom: 12px;
}

.main-services-list {
  height: 410px;
}

.material,
.instruments,
.machinery,
.puncher,
.sale {
  position: absolute;
}

.main-services-item {
  position:relative;
}

.material {
  display: block;
  bottom: 29px;
  left: 25px;
  background-color: #e5ac40;
  padding: 11px 24px;
  border-radius: 3px;
}

.instruments {
  display: block;
  bottom: 29px;
  left: 25px;
  background-color: #35a9cc;
  padding: 11px 26px;
  border-radius: 3px;
}

.machinery {
  display: block;
  bottom: 42px;
  left: 23px;
  background-color: #c682c2;
  padding: 10px 30px;
  border-radius: 3px;
}

.sale {
  display: block;
  top: 63px;
  left: 23px;
  background-color: #80c180;
  padding: 10px 23px;
  border-radius: 3px;
}

.puncher {
  display: block;
  bottom: 23px;
  left: 26px;
  background-color: #ee3643;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 45px;
  border-radius: 3px;
}

.products-title {
  position: relative;
  background-color: #f9f5f0;
  padding-left: 29px;
  padding-right: 24px;
  padding-top: 30px;
  padding-bottom: 27px;
  margin-bottom: 20px;
}

.popular-products {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  margin-left: auto;
  text-transform: uppercase;
}

.all-popular-products {
  position: absolute;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 55px;
  border-radius: 3px;
  right: 24px;
  top: 25px;
  padding-left: 54px;
}

.products,
.products h3 {
  margin: 0;
  padding: 0;
}

.products h3 {
  width: 190px;
  text-align: center;
  margin-bottom: 12px;
}

.products li {
  border: 1px solid #eaeaea;
}

.goods {
  font-family:  'PT Sans',  sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.price,
.old-price {
  margin: 0;
}

.old-price {
  font-family:  'PT Sans',  sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.price {
  font-family:  'PT Sans',  sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  text-align: center;
  width: 140px;
  padding: 10px;
  border-radius: 3px;
}

.products li:first-child {
  padding: 6px 13px 20px 15px;
}
